<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UX Tool Box</title>
</head>
<body class="uxStrategy">
    <nav>
        <ul>
            <li>
                <a href="#uxStrategy">UX Strategy</a>
            </li>
            <li>
                <a href="#uxAnalysis">UX Analysis</a>
            </li>
            <li>
                <a href="#uxUsability">UX Usability</a>
            </li>
        </ul>
    </nav>

    <article class="wrap-uxToolBox">
        <ol id="uxStrategy" class="uxToolBox">
            <li class="uxToolBox-item">
                <dl class="cardUxToolBox">
                    <dt class="cardUxToolBox-title">Proto-persona</dt>
                    <dd class="cardUxToolBox-action">
                        <a href="">12</a>
                    </dd>
                    <dd class="cardUxToolBox-action">
                        <a href="">3</a>
                    </dd>
                </dl>
            </li>
        </ol><!-- #uxStrategy -->
    </article>

    <article class="wrap-uxToolBox">
        <ol id="uxAnalysis" class="uxToolBox">
            <li class="uxToolBox-item">
                <dl class="cardUxToolBox">
                    <dt class="cardUxToolBox-title">10 Huerísticas de Nielsen</dt>
                    <dd class="cardUxToolBox-action">
                        <a href="">10</a>
                    </dd>
                    <dd class="cardUxToolBox-action">
                        <a href="">5</a>
                    </dd>
                </dl>
            </li>
        </ol><!-- #uxAnalysis -->
    </article>

    <article class="wrap-uxToolBox">
        <ol id="uxUsability" class="uxToolBox">
            <li class="uxToolBox-item">
                <dl class="cardUxToolBox">
                    <dt class="cardUxToolBox-title">10 Heurísticas de Nielsen</dt>
                    <dd class="cardUxToolBox-action">
                        <a href="">7</a>
                    </dd>
                    <dd class="cardUxToolBox-action">
                        <a href="">10</a>
                    </dd>
                </dl>
            </li>
        </ol><!-- #uxUsability -->
    </article>

    <a href="" class="callToAction">Quero me cadastrar</a>
</body>
</html>
