<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UX Tool Boxes</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/block/navegationUXToolBoxes.css">
</head>
<body class="uxUsability">
    <nav class="wrap-navegationUXToolBoxes">
        <ul class="navegationUXToolBoxes">
            <li class="navegationUXToolBoxes-item">
                <a href="#uxStrategy" class="navegationUXToolBoxes-item-action">UX Strategy</a>
            </li>
            <li class="navegationUXToolBoxes-item">
                <a href="#uxUsability" class="navegationUXToolBoxes-item-action">UX Usability</a>
            </li>
            <li class="navegationUXToolBoxes-item">
                <a href="#uxAnalysis" class="navegationUXToolBoxes-item-action">UX Analysis</a>
            </li>
        </ul>
    </nav>

    <main class="">
        <article class="wrap-uxToolBoxes">
            <ol id="uxStrategy" class="uxToolBoxes">
                <li class="uxToolBoxes-item">
                    <dl class="cardUxToolBoxes">
                        <dt class="cardUxToolBoxes-title">Proto-persona</dt>
                        <dd class="cardUxToolBoxes-action">
                            <a href="">12</a>
                        </dd>
                        <dd class="cardUxToolBoxes-action">
                            <a href="">3</a>
                        </dd>
                    </dl>
                </li>
            </ol><!-- #uxStrategy -->
        </article>

        <article class="wrap-uxToolBoxes">
            <ol id="uxAnalysis" class="uxToolBoxes">
                <li class="uxToolBoxes-item">
                    <dl class="cardUxToolBoxes">
                        <dt class="cardUxToolBoxes-title">10 Huerísticas de Nielsen</dt>
                        <dd class="cardUxToolBoxes-action">
                            <a href="">10</a>
                        </dd>
                        <dd class="cardUxToolBoxes-action">
                            <a href="">5</a>
                        </dd>
                    </dl>
                </li>
            </ol><!-- #uxAnalysis -->
        </article>

        <article class="wrap-uxToolBoxes">
            <ol id="uxUsability" class="uxToolBoxes">
                <li class="uxToolBoxes-item">
                    <dl class="cardUxToolBoxes">
                        <dt class="cardUxToolBoxes-title">10 Heurísticas de Nielsen</dt>
                        <dd class="cardUxToolBoxes-action">
                            <a href="">7</a>
                        </dd>
                        <dd class="cardUxToolBoxes-action">
                            <a href="">10</a>
                        </dd>
                    </dl>
                </li>
            </ol><!-- #uxUsability -->
        </article>
    </main>

    <a href="" class="callToAction">Quero me cadastrar</a>
</body>
</html>
